/*
 Theme Name:   Kurt's Child theme
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Profile Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     _tk
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
/* Navbar */
.navbar-default  {
    background: #00796B;
    color:black;
    border-color:#00796B;
    border-radius: 0px;
}
.navbar-header{
	padding: 0px;
	border-radius: 0px;
}
 .navbar {
    border-radius: 0px;
}

.navbar-form {
	background: #00796B;
	color:black;
	border-color:#00796B;
	border-radius: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: transparent;
	color: black;
	border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
	color:black;
	border-radius: 0px;
}
.navbar-default .navbar-brand {
	color:black;
	border-radius: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:#00796B;
    border-radius: 0px;
    background-color:#00796B;	

}

/* Ending of Navbar Edtions */

/* Header and Link edits */
.lead {
	color:#B2DFDB;
}

a{
color:black;
}
	
a:hover, a:focus {
    color:black;
    text-decoration: underline;
	}

.site-header{
	background-color:#009688 ;
	border-color: #009688;
}
.site-navigation {
	background:#009688 ;
    color: black;
}
 
.site-navigation-inner.col-sm-12 {
    padding: 0px 0px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
/* Padding the */
.col-md-4{
	padding-top: 50px;
}
/*   The Header so the nav doesn't block it  */
.col-sm-12 {
    
    padding-top: 30px;
}
/**/


/**/
.form-control {
	border:2px solid black;
}
/**/


/*Button */

.btn-default {
	background-color: darkcyan;
	color:black;
}
.btn-default:hover{
	color: white;
    background-color: darkcyan;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]{
	background-color: darkcyan;
}



span.wpcf7-not-valid-tip {
	color: darkcyan;	
}
/*button form ending*/



/* Jumbotron editions */
.jumbotron {
	background-color: darkcyan; 	
}
.container {

	width: 745px;
}
/* End of Jumbotron editions */

/* Fonts */
h1 h2 h3 h4 h5 h6 {

   font-family: 'Playfair Display',serif;
}

body{
   font-family: 'Open Sans',serif;
}
p {
font-family: 'Open Sans',serif;
}
/* End of Fonts */
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid white;
}
